<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>servlets01.intro</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
	<!-- tell the server to create an object of our servlet class -->
		<servlet-name>serv1</servlet-name>
		<servlet-class>my.first.servlet.MyServlet</servlet-class>
	</servlet>
	
	<!-- tell the server the url of the servlet object -->
	<servlet-mapping>
		<servlet-name>serv1</servlet-name>
		<url-pattern>/aaa</url-pattern>
	</servlet-mapping>
</web-app>